* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
} 

main {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}

button {
  margin-bottom: 1em;
}

/* Buttons */


/* 
adapted from 
https://cssbuttons.io/detail/ke1221/ancient-walrus-24
*/
button {
  border: 1px solid #e8e8e8;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
}

button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
}